
.task-item {
  margin: 5px;
  padding: 5px 10px;
  cursor: pointer;
  background: #fff;

  .header {

  }

  .actions {
    display: flex;
    flex-direction: column;

    .full-name {
      flex: 1 1;
    }

    .deadline-date {
      flex: 1 1;
    }

    .link {
      text-align: right;
      color: #009688;
    }

    .full-name,
    .deadline-date,
    .link {
      font-size: 12px;
    }
  }
}
