.main-layout .profile-area {
  flex: 1 0;
  background: #009688;
  display: flex;
  flex-direction: column; }
  .main-layout .profile-area .avatar {
    align-self: center;
    margin: 10px auto; }
    .main-layout .profile-area .avatar > div {
      width: 80px;
      height: 80px; }
  .main-layout .profile-area .full-name {
    color: #fff;
    align-self: flex-end;
    margin: 15px auto; }

.main-layout .upper-menu-links {
  flex: 3 0; }

.main-layout .lower-menu-links {
  flex: 0 0; }
