.content .settings-layout {
  min-width: 300px;
  width: 35%;
  margin: 50px auto;
  padding: 30px;
  text-align: center; }
  .content .settings-layout .form-group {
    margin: 20px 0; }
    .content .settings-layout .form-group > div {
      width: 100%; }
