.task-wrapper .body {
  display: flex; }
  .task-wrapper .body .content {
    padding: 10px;
    flex: 2 1; }
  .task-wrapper .body .info {
    padding: 10px;
    flex: 1 1;
    display: flex;
    flex-direction: column; }
    .task-wrapper .body .info .item {
      display: flex;
      margin: 5px 0; }
      .task-wrapper .body .info .item div {
        flex: 1 1; }
