.preview-wrapper {
  padding: 10px 15px;

  .list-of-points {
    .bold {
      font-weight: 800;
    }
  }

  .controls {
    width: 60%;
    text-align: center;

    button {
      width: 100%;
      margin-left: 15px;
    }
  }
}
