.dashboard-header {
  text-align: center; }

.dashboard-students {
  padding: 5px; }
  .dashboard-students .filter-select {
    margin-right: 15px; }
    .dashboard-students .filter-select .student-select, .dashboard-students .filter-select .theme-select {
      max-width: 30%;
      min-width: 300px; }

.dashboard {
  display: flex;
  height: 100%; }
