.dashboard-header {
  text-align: center;
}

.dashboard-students {
  padding: 5px;

  .filter-select {
    margin-right: 15px;

    .student-select, .theme-select {
      max-width: 30%;
      min-width: 300px;
    }
  }
}

.dashboard {
  display: flex;
  height: 100%;
}
